//
// Maps
// --------------------------------------------------
.wpsl-map {
	clear: both;
	width: 100%;
	height: 250px;
	background-position: center;
	border: 3px solid #ddd;
	border-radius: 3px;
	margin: 20px 0px;
	img {
		width: auto;
		max-width: none !important;
	}
	&.loading {
		display: none;
	}
}