//
// Meta Fields for Post Type
// --------------------------------------------------
.wpsl-meta label {
	display: block;	
}
.wpsl-meta input[type='text'], .wpsl-meta select{
	width: 100%;
	height: 40px;
}
.wpsl-meta textarea {
	width: 100%;
	height: 80px;
}
.wpsl-meta hr {
	clear: both;
	background: transparent;
	border: 0;
}

/* Clearfix */
.wpsl-meta, .wpsl-meta .latlng {
	zoom:1;
}
.wpsl-meta:before, .wpsl-meta:after, .wpsl-meta .latlng:before, .wpsl-meta .latlng:after {
	content: " "; /* 1 */
    display: table; /* 2 */
}
.wpsl-meta:after, .wpsl-meta .latlng:after {
	clear: both;
}

/* Settings */

/* Fields */
.wpsl-meta p {
	float: left;
}
.wpsl-meta p.full {
	float: none;
}
.wpsl-meta p.city {
	width: 50%;
	margin-right: 5%;
}
.wpsl-meta p.state {
	width: 20%;
	margin-right: 5%;
}
.wpsl-meta p.zip {
	width: 20%;
	float: right;
}
.wpsl-meta p.half {
	width: 48%;
	float: left;
}
.wpsl-meta p.right {
	float: right;
}

/* Latitude & Longitude */
.wpsl-meta .latlng {
	clear: both;
	background-color: rgba(0,0,0,.05);
	padding: 15px;
	margin: 20px 0;
	border-radius: 6px;
	max-width: none;
}
.wpsl-meta input:disabled {
	cursor: not-allowed;
}
.wpsl-meta .latlng span {
	display: block;
	font-style: oblique;
	border-radius: 3px;
}
.wpsl-meta .latlng p {
	float: left;
	width: 48%;
}
.wpsl-meta .latlng p.lat {
	float: right;
}

#wpslmap {
	display: none;
	clear: both;
	height: 300px;
	background-color: rgba(0,0,0,.05);
}