//
// Modals
// --------------------------------------------------
.modal-backdrop {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.85);
	top: 0;
	left: 0;
	z-index: 1000;
	visibility: hidden;
	opacity: 0;
	transition: all 500ms ease;
	&.active {
		visibility: visible;
		opacity: 1;
		transition: all 200ms ease;
	}
}

.modal-content {
	z-index: 1001;
	position: fixed;
	top: 50%;
	top: -200%;
	left: 50%;
	width: 50%;
	background-color: $white;
	border-radius: 2px;
	transform: translateX(-50%);
	transition: all 500ms ease;
	&.small {
		width: 400px;
	}
	&.active {
		top: 50px;
		transition: all 200ms ease;
	}
}

.modal-content-body {
	padding: 1em;
	max-height: 300px;
	overflow: auto;
	@include clearfix;
	&.no-padding {
		padding: 0;
	}
}

.modal-content-footer {
	@include clearfix;
	padding: .7em;
	border-top: 1px solid rgba(#000, .1);
	.button-primary {
		float: right;
	}
}


@media (max-width: 767px)
{
	h3 {
		line-height: 1.3;
	}
	.modal-content {
		width: 90%;
		&.small {
			width: 90%;
		}
		&.active {
			top: 20px;
		}
	}
	.modal-content-body {
		height: 300px;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		overflow-x: hidden;
	}
	.modal-video {
		width: 100%;
		&.modal-content.active {
			padding: 0;
		}
	}
}

@media print {
	.modal-backdrop,
	.modal-content {
		display: none;
	}
}