//
// Search History
// --------------------------------------------------
.wpsl-search-history-actions {
	background-color: $gray-lighter;
	padding: 1em;
	box-sizing: border-box;
	@include clearfix;
	form, .button {
		float: left;
	}
	form.right {
		float: right;
	}
	.button {
		margin-right: 1em;
	}
}
.wpsl-search-history-pagination {
	li {
		display: inline-block;
		margin-left: .5em;
		&:first-child {
			margin: 0;
		}
	}
	&.bottom {
		border-top: 1px solid $border-light;
		padding: 1em;
		@include clearfix;
		ul {
			margin: 0;
			float: right;
		}
	}
}
.wpsl-search-history-table-header {
	clear: both;
	border-top: 1px solid $border-light;
	@include clearfix;
	padding: 1em;
	h3 {
		display: inline-block;
		vertical-align: top;
		margin: 0;
		line-height: 30px;
		font-size: 1em;
	}
	select {
		float: right;
		margin: 0;
	}
	.wpsl-search-history-pagination {
		float: right;
		margin-left: 10px;
		ul {
			margin: 0;
		}
	}
}
.wpsl-search-history-form {
	background-color: $white;
	position: relative;
	@include clearfix;
	label {
		display: block;
	}
	.inputs {
		@include clearfix;
		padding: 1em 100px 1em 1em;
	}
	.keyword {
		float: left;
		width: 30%;
		box-sizing: border-box;
	}
	input[type="text"]{
		width: 100%;
	}
	.date-range {
		float: left;
		width: 70%;
		box-sizing: border-box;
		padding-left: 1em;
		input[type="text"]{
			float: left;
			width: 48%;
			max-width: 120px;
			&:last-child {
				margin-left: 5px;
				// float: right;
			}
		}
	}
	
	input[type="submit"]{
		position: absolute;
		right: 1em;
		display: block;
		width: 80px;
		bottom: 1em;
	}
	h4 {
		padding: 0;
		margin-top: 0;
	}
} // .wpsl-search-history-form

#wpsl-search-history-map {
	height: 300px;
	background-color: $white;
}

.wpsl-search-history-table {
	background-color: $white;
	width: 100%;
	border: 0;
	border-collapse: collapse;
	th, td {
		font-size: .9em;
		text-align: left;
		border-top: 1px solid darken($white, 8%);
		border-left: 1px solid darken($white, 8%);
		padding: 5px;
		&:first-child {
			border-left: 0;
		}
	}
	th {
		padding: 1em 5px;
		border-top: 0;
		border-left-color: rgba($black, .9);
		background-color: rgba($black, .8);
		color: $white;
		line-height: 1.2;
		&:last-child {
			border-left: 0;
		}
	}
}