//
// General Settings
// --------------------------------------------------
.wpsl-plugin-version{
	font-style: oblique;
}

.wpsl-settings {
	background-color: $white;
	border: 1px solid $border-light;
	border-radius: 3px;
	margin-top: 2em;
	.row {
		border-top: 1px solid $border-light;
		display: table;
		width: 100%;
		@include clearfix;
		&:first-child {
			border: 0;
		}
		.label {
			display: table-cell;
			width: 40%;
			padding: 1em;
			background-color: $gray-lighter;
			border-right: 1px solid $border-light;
			vertical-align: middle;
			h4 {
				margin: 0;
			}
			p {
				font-size: .9em;
				margin-bottom: 0;
				color: rgba($black, .6);
			}
			&.align-top {
				vertical-align: top;
			}
		}
		.field {
			display: table-cell;
			width: 60%;
			padding: 1em;
			vertical-align: middle;
			p {
				margin-bottom: 0;
			}
			p.no-margin {
				margin: .2em 0;
			}
			.wpsl-error {
				margin-top: 1em;
			}
			select.full {
				width: 100%;
			}
			&.align-top {
				vertical-align: top;
			}
			&.no-padding {
				padding: 0;
			}
		}
		input[type="text"]{
			width: 100%;
		}
		&.subhead {
			box-sizing: border-box;
			padding: .7em 1em;
			background-color: darken($white, 70%);
			h4 {
				margin: 0;
				color: $white;
			}
		}
	} // .row
} // .wpsl-settings

.wpsl-error,
.wpsl-alert {
	display: block;
	padding: .75rem 1.25rem;
	border-radius: 3px;
	margin: 0;
	margin-bottom: 10px;
	background-color: #f2dede;
	color: #a94442;
	border: 1px solid #ebcccc;
}

.wpsl-alert {
	color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}