//
// Map Style Choices
// --------------------------------------------------
#map-styles {
	@include unstyled;
	li {
		float: left;
		width: 30%;
		margin: 0 0 30px 5%;
		box-sizing: border-box;
		&.first {
			clear: both;
			margin-left: 0;
		}
		.map {
			display: block;
			width: 100%;
			height: 150px;
			background: url("../images/loading.gif"), #fff;
			background-repeat: no-repeat;
			background-size: 40px;
			background-position: center;
			box-sizing: border-box;
			transition: all 200ms ease;
		}
		h4 {
			margin: 0 0 5px 0;
		}
		.choose-style {
			display: block;
			text-align: center;
			background-color: darken(#fff, 50%);
			padding: 8px 0;
			color: #fff;
			text-decoration: none;
			transition: all 200ms ease;
			box-sizing: border-box;
			&:hover {
				background-color: #0074a2;
			}
		}
		&.active {
			.map {
				border: 4px solid #0074a2;
				border-bottom: 0;
				transition: all 200ms ease;
			}
			.choose-style {
				border: 4px solid #0074a2;
				border-top: 0;
				border-bottom: 0;
				background-color: #0074a2;
			}
		}
	}
} // #map-styles



