//
// General Settings
// --------------------------------------------------
.wpsl-plugin-version{
	font-style: oblique;
}

.wpsl-settings-general-head {
	background-color: $white;
	padding: 20px;
	margin-top: 10px;
	h3{
		margin: 0;
	}
}