//
// Post Type Settings
// --------------------------------------------------
.latlng {
	background-color: darken($white, 10%);
	max-width: 500px;
	padding: 20px;
	margin-top: 20px;
	@include clearfix;
}

.wpsl-show-hidden {
	display: block;
	margin-bottom: 20px;
}

.wpsl-left-field,
.wpsl-right-field {
	float: left;
	width: 45%;
	select {
		width: 100%;
	}
	label {
		margin: 0;
	}
}

.wpsl-degree-info {
	clear: both;
	padding-top: 15px;
	margin: 0;
	font-style: oblique;
}

.wpsl-right-field {
	float: right;
}

.wpsl-block-label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}
.wpsl-posttype-fields {
	background-color: $white;
	padding: 20px;
	margin-top: 30px;
	max-width: 500px;
	h3 {
		margin: 0;
	}
	table {
		background-color: darken($white, 10%);
	}
	tr td, tr th {
		padding: 5px 10px;
	}
	tr th {
		padding-top: 10px;
	}
	table tr:nth-child(even) {
		background-color: darken($white, 6%);
	}
}

.wpsl-reset-posttype.button {
	background: transparent;
	background-color: $red;
	border-color: $red;
	color: $white;
	box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .3);
	&:hover, &:active, &:focus {
		background: transparent;
		background-color: darken($red, 8%);
		border-color: darken($red, 8%);;
		color: $white;
	}
}



