//
// General Settings
// --------------------------------------------------
.wpsl-plugin-version{
	font-style: oblique;
}

.wpsl-settings {
	background-color: $white;
	border: 1px solid $border-light;
	border-radius: 3px;
	margin-top: 2em;
	&.margin-bottom {
		margin-bottom: 2em;
	}
	.row {
		border-top: 1px solid $border-light;
		display: table;
		width: 100%;
		@include clearfix;
		&:first-child {
			border: 0;
		}
		&.border-top {
			border-top: 1px solid $border-light;
		}
		.label {
			display: table-cell;
			width: 40%;
			padding: 1em;
			background-color: $gray-lighter;
			border-right: 1px solid $border-light;
			vertical-align: middle;
			h4 {
				margin: 0;
			}
			p {
				font-size: .9em;
				margin-bottom: 0;
				color: rgba($black, .6);
			}
			&.align-top {
				vertical-align: top;
			}
		}
		.field {
			display: table-cell;
			width: 60%;
			padding: 1em;
			vertical-align: middle;
			p {
				margin-bottom: 0;
			}
			p.no-margin {
				margin: .2em 0;
			}
			.wpsl-error {
				margin-top: 1em;
			}
			select.full {
				width: 100%;
			}
			&.align-top {
				vertical-align: top;
			}
			&.no-padding {
				padding: 0;
			}
		}
		input[type="text"]{
			width: 100%;
		}
		&.subhead {
			box-sizing: border-box;
			padding: .7em 1em;
			background-color: darken($white, 70%);
			h4 {
				margin: 0;
				color: $white;
			}
		}
		.checkbox-list {
			@include unstyled;
			li {
				position: relative;
				margin: 0;
				padding-left: 22px;
				padding: 15px 5px 15px 30px;
				&:nth-child(even){
					background-color: rgba($black, .05);
				}
				&:first-child {
					margin: 0;
				}
				input[type="checkbox"]{
					position: absolute;
					left: 5px;
					top: 20px;
				}
			}
			&.min-height {
				max-height: 300px;
				overflow: auto;
			}
			.column-name {
				display: none;
				position: absolute;
				top: 5px;
				right: 0;
				width: 50%;
				.inner {
					position: relative;
					padding: 5px 5px 5px 100px;
				}
				label {
					position: absolute;
					left: 5px;
					top: 9px;
				}
			}
			input[type="checkbox"]:checked + .column-name {
				display: block;
			}
		} // .checkbox-list
		.checkbox-with-input {
			position: relative;
			padding-left: 22px;
			label {
				display: block;
			}
			input[type="checkbox"]{
				position: absolute;
				left: 0;
				top: 5px;
				&:checked + .input {
					display: block;
				}
			}
			.input {
				width: 50%;
				position: absolute;
				right: 0;
				top: -4px;
				display: none;
				.inner {
					position: relative;
					padding-left: 110px;
				}
				label {
					left: 0;
					top: 4px;
					position: absolute;
				}
			}
		} // .checkbox-with-input
		.export-template-list {
			@include unstyled;
			li {
				@include clearfix;
				margin: 0;
				padding: 10px;
				&:nth-child(even){
					background-color: rgba($black, .06);
				}
				a {
					float: right;
					margin-left: 10px;
				}
				p {
					float: left;
					margin: 0;
					line-height: 30px;
				}
			}
		}
	} // .row
	label.block {
		display: block;
	}
} // .wpsl-settings

.wpsl-error,
.wpsl-alert {
	display: block;
	padding: .75rem 1.25rem;
	border-radius: 3px;
	margin: 0;
	margin-bottom: 10px;
	background-color: #f2dede;
	color: #a94442;
	border: 1px solid #ebcccc;
}

.wpsl-alert {
	color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}