//
// Search History
// --------------------------------------------------
.wpsl-search-history-form {
	margin-bottom: 1em;
	background-color: darken($white, 10%);
	padding: 1em;
	form {
		@include clearfix;
	}
	label {
		display: block;
	}
	.keyword {
		float: left;
		width: 25%;
	}
	input[type="text"]{
		width: 100%;
	}
	.date-range {
		float: left;
		width: 55%;
		padding-left: 5%;
		input[type="text"]{
			float: left;
			width: 48%;
			&:last-child {
				float: right;
			}
		}
	}
	input[type="submit"]{
		float: right;
		width: 10%;
		margin-top: 15px;
	}
	h4 {
		padding: 0;
		margin-top: 0;
	}
} // .wpsl-search-history-form

#wpsl-search-history-map {
	height: 300px;
	background-color: $white;
	margin-bottom: 1em;
}

.wpsl-search-history-table {
	background-color: $white;
	width: 100%;
	border: 0;
	border-collapse: collapse;
	th, td {
		text-align: left;
		border-top: 1px solid darken($white, 8%);
		border-left: 1px solid darken($white, 8%);
		padding: 5px;
		&:first-child {
			border-left: 0;
		}
	}
	th {
		border-bottom: 1px solid darken($white, 8%);
		border-left-color: darken($white, 15%);
		background-color: darken($white, 10%);
	}
}