//
// Settings - Results Fields
// --------------------------------------------------

// Outer Container
.wpsl-results-fields {
	padding-top: 20px;
}

.wpsl-results-fields-selection {
	float: left;
	width: 55%;
	p {
		clear: both;
		padding-top: 8px;
		color: darken($white, 50%);
		font-style: oblique;
	}
}

.wpsl-results-field-selector {
	background-color: darken($white, 10%);
	padding: 8px;
	@include clearfix;
	.left, .right {
		label {
			display: block;
			font-weight: bold;
		}
		@include clearfix;
		float: left;
		width: 45%;
		select {
			float: left;
			width: 60%;
		}
		button {
			float: right;
			width: 37%;
		}
	}
	.right {
		float: right;
	}
}

.wpsl-limit-setting {
	input[type="text"]{
		width: 100%;
	}
}



