@import "_variables.scss";
@import "_mixins.scss";

.wpsl-pagination-button {
	float: left;
	&.previous {
		margin-right: 10px;
	}
}

.wpsl-pagination {
	@include clearfix;
}

.simple-locator-form {
	form {
		margin-bottom: 20px;
	}
	.alert {
		display: block;
		padding: 5px;
		border-radius: 3px;
		margin: 0;
		margin-bottom: 10px;
	}
	.alert-error {
		background-color: #f2dede;
		color: #a94442;
		border: 1px solid #ebccd1;
	}
	label {
		display: block;
	}
	.address-input {
		float: left;
		width: 60%;
		input[type='text'],
		input[type='tel']{
			width: 100%;
			box-sizing: border-box;
		}
	}
	.distance {
		float: right;
		clear: none;
		width: 35%;
		select {
			width: 100%;
		}
	}
	.submit {
		float: left;
		clear: both;
		padding-top: 20px;
		margin-bottom: 20px;
	}
	.geo_button_cont {
		float: left;
		padding-top: 20px;
		margin: 0px 0px 20px 10px;
	}
}

// Widget Specific Styles
.simple-locator-widget {

	.simple-locator-form { 
		.address-input, .distance {
			float: none;
			width: 100%;
		}
		.address-input {
			margin-bottom: 10px;
		}
	}
	
	.wpsl-results ul li {
		float: none;
		width: 100%;
	}

	.wpsl-map {
		background: url('../images/loading-white.gif') no-repeat;
		background-position: center;	
	}

	.wpsl-results.loading {
		background: url('../images/loading-white.gif') no-repeat;
		background-position: center;
	}

	.geo_button_cont {
		margin: 0;
	}

}

// Map
.wpsl-map, #locationmap {
	display: none;
	clear: both;
	width: 100%;
	height: 250px;
	background: url('../images/loading.gif') no-repeat;
	background-position: center;
	border: 3px solid #ddd;
	border-radius: 3px;
	margin: 20px 0px;
	img {
		width: auto;
		max-width: none !important;
	}
}

#locationmap {
	display: block;
}


// Results
.wpsl-results {
	display: none;
	clear: both;
	&.loading {
		min-height: 70px;
		background: url('../images/loading.gif') no-repeat;
		background-position: center;
	}
	ul {
		@include unstyled();
		@include clearfix();
		li {
			float: left;
			width: 46%;
			clear: both;
			margin:0 0 20px 0 !important;
			list-style: none !important;
			&:nth-child(even){
				float: right;
				clear: none;
			}
		}
	}
}