.pull-right {
  float: right; }

.simple-locator-form {
  margin-bottom: 20px; }
  .simple-locator-form .alert {
    display: block;
    padding: 5px;
    border-radius: 3px;
    margin: 0;
    margin-bottom: 10px; }
  .simple-locator-form .alert-error {
    background-color: #f2dede;
    color: #a94442;
    border: 1px solid #ebccd1; }
  .simple-locator-form label {
    display: block; }
  .simple-locator-form .zip {
    float: left;
    width: 60%; }
    .simple-locator-form .zip input[type='text'],
    .simple-locator-form .zip input[type='tel'] {
      width: 100%; }
  .simple-locator-form .distance {
    float: right;
    width: 35%; }
    .simple-locator-form .distance select {
      width: 100%; }
  .simple-locator-form .submit {
    clear: both;
    padding-top: 20px; }

#locatormap {
  display: none;
  width: 100%;
  height: 250px;
  background: url("../images/loading.gif") no-repeat;
  background-position: center;
  border: 3px solid #ddd;
  border-radius: 3px;
  margin-bottom: 20px; }
  #locatormap img {
    max-width: none; }

#locatorresults {
  display: none; }
  #locatorresults.loading {
    min-height: 70px;
    background: url("../images/loading.gif") no-repeat;
    background-position: center; }
  #locatorresults ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    zoom: 1; }
    #locatorresults ul:before, #locatorresults ul:after {
      content: " ";
      /* 1 */
      display: table;
      /* 2 */ }
    #locatorresults ul:after {
      clear: both; }
    #locatorresults ul li {
      float: left;
      width: 46%;
      clear: both;
      margin: 0 0 20px 0 !important;
      list-style: none !important; }
      #locatorresults ul li:nth-child(even) {
        float: right;
        clear: none; }
